
/*--------------------------------------------------------------
#header
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.light {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
}

.dark {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #192e3a;
  --darkOne: #f3f3f3;
  --darkTwo: #fff;
  --lightOne: #ccc;
  --lightTwo: #e7e3e3;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header {
  position: relative;
  z-index: 70;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 40px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

.logo h3 {
  color: var(--darkTwo);
  font-size: 1.55rem;
  line-height: 1.2;
  font-weight: 700;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
  text-decoration: none;
}

.links a {
  color: var(--lightTwo);
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
}

.links a:hover {
  color: var(--hoverColor);
  transform: scale(1.05);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-area {
    padding: 40px 0;
    background: #f9f9f9;
  }
  
  .footer-head p {
    color: #444;
  }
  
  .footer-head h4 {
    color: #444;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  
  .footer-logo {
    padding-bottom: 20px;
  }
  
  .footer-logo h2 {
    color: #222;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
  }
  
  .footer-logo h2 span {
    color: #3ec1d5;
  }
  
  .footer-icons ul li {
    display: inline-block;
  }
  
  .footer-icons ul li a {
    border: 1px solid #444;
    color: #444;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
  }
  
  .footer-icons ul li a i {
    line-height: 0;
  }
  
  .flicker-img>a {
    float: left;
    padding: 1px;
    width: 33.33%;
  }
  
  .footer-icons {
    margin-top: 30px;
  }
  
  .footer-contacts p span {
    color: #3EC1D5;
    font-weight: 700;
  }
  
  .popular-tag ul li {
    display: inline-block;
  }
  
  .footer-content {
    display: block;
    overflow: hidden;
  }
  
  .popular-tag ul li a:hover,
  .footer-icons ul li a:hover {
    background: #3EC1D5;
    border: 1px solid #3EC1D5;
    color: #fff;
  }
  
  .popular-tag ul li a {
    border: 1px solid #444;
    border-radius: 30px;
    color: #444;
    font-size: 13px;
    display: block;
    font-weight: 600;
    margin: 5px 3px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
    width: 70px;
  }
  
  .footer-area-bottom {
    background: #f1f1f1 none repeat scroll 0 0;
    padding: 15px 0;
  }
  
  .copyright-text a:hover {
    text-decoration: underline;
    color: #3EC1D5;
  }
  
  .copyright-text a {
    color: #444;
  }
  
  .copyright>p {
    margin-bottom: 0;
    color: #444;
  }
  
  .copyright a,
  .credits a {
    color: #3EC1D5;
  }
  
  .credits {
    padding-top: 5px;
    text-align: center;
  }
  
#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
  border: 1px solid #b6daf2;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #3498db;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #57aae1;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #3498db;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #5faee3;
  color: #fff;
  text-decoration: none;
}
  /*--------------------------------------------------------------
  # Responsive
  --------------------------------------------------------------*/
  @media (min-width: 1920px) {
    .work-right-text {
      padding: 150px 150px;
    }
  }
  
  /* Normal desktop :992px. */
  @media (min-width: 992px) and (max-width: 1169px) {
    .slider-content {
      padding: 146px 0;
    }
  
    .work-right-text {
      padding: 40px 0;
    }
  
    .work-right-text h2 {
      font-size: 18px;
      line-height: 28px;
    }
  }
  
  /* Tablet desktop :768px. */
  @media (min-width: 768px) and (max-width: 991px) {
    .layer-1-1 h2 {
      font-size: 24px;
    }
  
    .layer-1-2 h1 {
      font-size: 31px;
      line-height: 38px;
      padding: 0px 30px;
    }
  
    .tab-menu ul.nav li a {
      padding: 10px 16px;
    }
  
    .suscribe-input input {
      width: 60%;
    }
  
    .suscribe-input button {
      width: 40%;
    }
  
    .team-content.text-center>h4 {
      font-size: 20px;
    }
  
    .sus-btn {
      margin-left: 0;
    }
  
    .suscribe-text h3 {
      font-size: 16px;
      padding-right: 20px;
    }
  
    .work-right-text h5 {
      font-size: 14px;
      line-height: 22px;
    }
  
    .work-right-text {
      padding: 36px 0;
    }
  
    .work-right-text h2 {
      font-size: 14px;
      line-height: 22px;
    }
  
    .work-right-text .ready-btn {
      font-size: 13px;
      padding: 7px 20px;
      margin-top: 5px;
    }
  
    .single-awesome-portfolio {
      width: 33.33%;
    }
  
    .widget-product a img {
      display: block;
      float: none;
      width: 100%;
    }
  
    .widget-product .product-info {
      display: block;
      float: none;
      padding-left: 0;
      width: 100%;
      margin-top: 20px;
    }
  
    .map-column {
      margin-left: 0;
      padding-right: 40px;
    }
  
    .post-information .entry-meta {
      font-size: 13px;
      padding: 5px 0;
    }
  
    .post-information .entry-meta span a {
      padding: 4px 0;
    }
  
    .service-pic {
      margin-bottom: 30px;
      text-align: center;
    }
  
    .single-add-itms {
      width: 50%;
    }
  
    .left-sidebar-title>h4 {
      font-size: 18px;
    }
  
    .contact-form {
      margin-top: 0px;
    }
  
    .search-option input {
      width: 67%;
    }
  }
  
  /* small mobile :320px. */
  @media (max-width: 767px) {
    .slider-area {
      margin-top: 60px;
    }
  
    .slider-content {
      padding: 80px 0;
    }
  
    .slider-content h2 {
      font-size: 18px !important;
      line-height: 24px !important;
    }
  
    .slider-content h1 {
      font-size: 20px !important;
      line-height: 26px !important;
    }
  
    .layer-1-3 a.ready-btn {
      padding: 8px 15px;
    }
  
    .section-headline h2 {
      font-size: 30px;
    }
  
    .well-middle .single-well {
      margin-top: 30px;
    }
  
    .single-skill {
      margin-bottom: 40px;
    }
  
    .tab-menu {
      margin-top: 30px;
    }
  
    .tab-menu ul.nav li a {
      padding: 8px 6px;
    }
  
    .wellcome-text {
      margin: 0px;
      padding: 70px 0px;
    }
  
    .subs-feilds {
      width: 100%;
    }
  
    .suscribe-input input {
      width: 60%;
    }
  
    .suscribe-input button {
      font-size: 15px;
      padding: 14px 10px;
      width: 40%;
    }
  
    .section-headline h3 {
      font-size: 25px;
    }
  
    .well-text>h2 {
      font-size: 18px;
    }
  
    .well-text p {
      display: none;
    }
  
    .single-team-member {
      margin-bottom: 30px;
    }
  
    .service-right {
      width: 100%;
    }
  
    .service-images:hover .overly-text {
      display: none;
    }
  
    .portfolio-area {
      padding-top: 0px;
    }
  
    .project-menu li a {
      padding: 8px 12px;
      margin: 10px 4px;
    }
  
    .pri_table_list {
      margin-bottom: 30px;
    }
  
    .single-awesome-project,
    .portfolio-2 .single-awesome-project {
      width: 100%;
      float: none;
    }
  
    .single-blog {
      margin-bottom: 30px;
    }
  
    .sus-btn {
      margin-left: 0;
      margin-top: 30px;
    }
  
    .contact-form {
      margin-top: 30px;
    }
  
    .head-team h5 {
      font-size: 22px;
    }
  
    .footer-content {
      margin-bottom: 30px;
    }
  
    .header-bottom h1 {
      font-size: 30px;
      margin-bottom: 0;
    }
  
    .page-area .slider-content {
      padding: 500px 0;
    }
  
    .search-option input {
      width: 74%;
    }
  
    .header-bottom h2 {
      font-size: 20px;
      margin-bottom: 0;
    }
  
    li.threaded-comments {
      margin-left: 0;
    }
  }
  
  /* Large Mobile :480px. */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .submitbtn {
      float: none;
      width: 99.8%;
    }
  
    .icons-bottom ul li a {
      height: 40px;
      line-height: 37px;
      width: 40px;
    }
  
    .blog-post-dlc ul li {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .awesome-portfolio-content .portfolio-2 {
      width: 50%;
    }
  
    .gallary-details .single-awesome-portfolio {
      width: 50%;
    }
  
    .tab-menu ul.nav li a {
      padding: 8px 20px;
    }
  }
  
  @media (max-width: 575px) {
    .slider-content {
      padding: 0;
    }
  }